/* default css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1150px;
    margin: auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.border-box {
    box-sizing: border-box;
}

.text-white{
    color: #fff;
}

.bg1 {
    background: #eeeded;
}

/* header section */

.header {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-logo {
    width: 30%;
}

.header-logo img {
    width: 250px;
    margin-left: 35px;
}

.header-menu {
    width: 64%;
    list-style: none;
    margin-right: 6%;
}

.header-menu ul li {
    display: inline-block;
    margin-right: -5px;
    position: relative;
}

.header-menu ul li a {
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    line-height: 36px;
    transition: .3s;
    position: relative;
}

.header-menu ul li ul li a:hover::after{
    transform: scaleX(1);
}

.select{
    color: #b4743c !important;
}

.header-menu ul li a.alada::after {
    content: '';
    position: absolute;
    top: 96%;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: #b4743c;
    transform: scaleX(0);
    transition: .3s;

}

.header-menu ul li a.alada:hover::after{
    width: 100%;
    transform: scaleX(1);
}

.header-menu ul li a:hover{
    color: #b4743c;
}

/* dropdown menu section */

.header-menu ul li ul{
    position: absolute;
    top: 80%;
    left: 0;
    width: 230px;
    color: #000;
    background: #fff;
    display: block;
    text-align: center;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.header-menu ul li:hover ul{
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
}

.header-menu ul li ul li {
    display: block;
    margin-right: 0;
}

.header-menu ul li ul li a { 
    color: #000;
    display: block;
    transition: .3s;
}

.header-menu ul li ul li a:hover{
    background: #d0d0d0;
}

/* banner section */

.banner {
    background-image: url(./img/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 220px;
    position: relative;
    z-index: 99;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .62);
    z-index: -1;
}

.banner h1 {
    font-size: 76px;
    font-weight: 500;
    margin-bottom: 25px;
}

.banner h3 {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 45px;
    position: relative;
}

.banner h3::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 195px;
    width: 75px;
    height: 1px;
    background: #fff;
}

.banner h3::after {
    content: '';
    position: absolute;
    top: 17px;
    right: 195px;
    width: 75px;
    height: 1px;
    background: #fff;
}

.banner span a {
    color: #fff;
    display: inline-block;
    background: #c69453;
    padding: 15px 30px;
    border-radius: 25px;
    transition: .3s;
}

.banner span a:hover{
    color: #c69453;
    background: #fff;
}

/* work section */

.work-section {
    padding: 80px 0;
}
.work {
    width: 23.5%;
    margin-right: 2%;
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: .3s;
}

.work:last-child{
    margin-right: 0;
}

.work:hover{
    background: #dedcda;
    cursor: pointer;
}

.work-img img{
    transition: .8s;
}

.work-detail h4 {
    color: #373430;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.work-detail p {
    color: #81909d;
    font-size: 17px;
    line-height: 1.4em;
    margin-bottom: 26px;
}

.work-detail span a {
    color: #fefbef;
    background: #c69453;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .4s;
}

.work-detail span a:hover{
    background: #000 !important;
    color: #fff !important;
    transform: translateY(10px);
}

.work:hover .work-img img{
    transform: rotateY(360deg);
}

.work:hover .work-detail span a{
    background: #fff;
    color: #c69453;
}

/* about section */

.about-section {
    padding: 130px 0;
}

.about-section-video{
    width: 38%;
}

.about-section-content{
    width: 58%;
}

.about-section-content h3 {
    font-size: 29px;
    margin-bottom: 30px;
}

.about-section-content h3 span {
    color: #c59352;
}

.about-section-content p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 35px;
}

.about-section-content details summary {
    font-size: 20px;
    font-weight: 300;
}

.about-section-content details summary:hover{
    cursor: pointer;
}

.about-section-content span a {
    background: #000;
    color: #e8eaec;
    display: inline-block;
    padding: 15px 20px;
    font-size: 17px;
    margin-top: 20px;
    transition: .3s;
}

.about-section-content span a:hover{
    background: #c69453;
}

/* form section */

.form-section-form {
    width: 495px;
    margin-left: 120px;
}

.form-section-form h3 {
    font-size: 29px;
    margin-bottom: 25px;
}

.form-section-form p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 27px;
}

.form-section-form input {
    width: 95%;
    height: 45px;
    margin-bottom: 15px;
    border: none;
    padding-left: 13px;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
}

.form-section-form textarea {
    width: 95%;
    height: 120px;
    border: none;
    box-sizing: border-box;
    padding: 13px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
}

.form-section-form span a {
    background: #c69453;
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 25px;
}

.form-section-image img {
    display: block;
}
/* footer section */

.footer-section {
    background: #6d6d6d;
    padding: 20px 0;
}

.footer-left{
    width: 50%;
}

.footer-left p {
    color: #dadbdd;
    margin-left: 50px;
    font-size: 17px;
    line-height: 28px;
}

.social-menu{
    width: 40%;
}

.social-menu nav {
    margin-right: 130px;
}

.social-menu nav a {
    color: #dadbdd;
    margin-right: 20px;
    font-size: 23px;
}

